.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #1f1f3d;
  --primary-color: #00523d;
  --secondary-color: #001b13;
  --inverted-primary-color: #5cd498;
  --inverted-secondary-color: #bbffea;
}
